@font-face {
  font-family: 'HankenBook';
  src: url('HankenBook.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PfennigMedium';
  src: url('PfennigMedium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Base */
/* ----------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  font-family: 'PfennigMedium', Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
  background-color: #3d3d3d;
}

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 400; }

a         { color: #2a7ae2; text-decoration: none; }
a:hover   { color: #000; text-decoration: underline; }
a:visited { color: #205caa; }

/* Utility */

.wrap:before,
.wrap:after { content:""; display:table; }
.wrap:after { clear: both; }
.wrap {
  max-width: 802px;
  padding: 0 30px;
  margin: 0 auto;
  zoom: 1;
}


/* Layout Styles */
/* ----------------------------------------------------------*/

/* Site header */

.site-header {
  min-height: 56px;
  background-color: #fdfdfd;
}

.site-title,
.site-title:hover,
.site-title:visited {
  display: block;
  color: #444;
  font-size: 26px;
  letter-spacing: -1px;
  line-height: 56px;
  z-index: 1;
  text-align: center;
  font-variant: small-caps;
}

/* Site footer */

.site-footer {
  padding: 56px 0 30px 0;
}

.site-footer .column { float: left; margin-bottom: 15px; }

.footer-col-1 {
  width: 115px; /*fallback*/
  width: -webkit-calc(15% - 10px);
  width: -moz-calc(15% - 10px);
  width: -o-calc(15% - 10px);
  width: calc(15% - 10px);
  margin-right: 10px
}
.footer-col-2 {
  width: 620px; /*fallback*/
  width: -webkit-calc(80%);
  width: -moz-calc(80%);
  width: -o-calc(80%);
  width: calc(80%);
}
.footer-col-3 {
  width: 800px; /*fallback*/
  width: -webkit-calc(100%);
  width: -moz-calc(100%);
  width: -o-calc(100%);
  width: calc(100%);
}

.site-footer ul {
  list-style: none;
  text-align: center;
}

.site-footer li,
.site-footer p {
  font-size: 20px;
  letter-spacing: -.3px;
  color: #D2D2D2;
}

.site-footer li {
  display: inline list-item;
  list-style-type: circle;
  margin-left: 5px;
}

.site-footer li:first-child {
  list-style-type: none;
}

.rss-icon-svg {
  display: inline-block;
  height: 18px;
  position: relative;
  top: 3px;
}

footer.site-footer div.wrap a,
#sobre a,
#rss a {
  color: #D2D2D2;
}

#rss {
  text-align: center;
}

.site-footer hr {
  border: 0;
  border-bottom: 1px solid #4d4d4d;
  width: 50%;
  margin: 25px auto 15px auto;
}

/* Page Content styles */
/* ----------------------------------------------------------*/

.page-content {
  padding: 30px 0;
  background-color: #fff;
  overflow: hidden;
}


/* Home styles */
/* ----------------------------------------------------------*/

.home h1 { margin-bottom: 25px; }

.posts {
  list-style-type: none;
}
.latest-posts .post-header {
  margin-bottom: 10px;
}
.post-lead {
  padding-bottom: 20px;
}
.posts > li {
  margin-bottom: 30px;
}

.posts .post-link,
.index .post-link {
  font-size: 1em;
  letter-spacing: -1.75px;
  line-height: 0.8em;
}

/* Post styles */
/* ----------------------------------------------------------*/

.post-header,
.page-header {
  margin: 10px 0 30px;
  font-family: 'HankenBook';
}

.post-header h1,
.page-header h1 {
  font-size: 38px;
  letter-spacing: -1.75px;
  line-height: 1;
  color: #205caa;
}

.post-header .meta {
  color: #818181;
  margin-top: 5px;
  font-size: 16px;
}

.post-content,
.page-inner-content {
  margin: 0 0 30px;
}

.post-content > *,
.page-content .page-inner-content > *,
.page-content .page p {
  margin: 20px 0;
}

.page-content .page-inner-content figure p {
  margin: 0;
}

.page-content .page h1, .post-content h1,
.page-content .page h2, .post-content h2,
.page-content .page h3, .post-content h3,
.page-content .page h4, .post-content h4,
.page-content .page h5, .post-content h5,
.page-content .page h6, .post-content h6 {
  line-height: 1;
  font-weight: 300;
}

.page-content .page h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.page-content .page h3 {
  margin-bottom: 20px;
}

.page-content h2, .post-content h2 {
  font-size: 32px;
  letter-spacing: -1.25px;
}

.page-content h3, .post-content h3 {
  font-size: 26px;
  letter-spacing: -1px;
}

.page-content h4, .post-content h4 {
  font-size: 22px;
  letter-spacing: -1px;
}

.post-content blockquote {
  border-left: 4px solid #e8e8e8;
  padding-left: 20px;
  font-size: 22px;
  opacity: .6;
  letter-spacing: -1px;
  font-style: italic;
  margin: 30px 0;
}

.page-content ul, .post-content ul,
.page-content ol, .post-content ol { padding-left: 20px; }

.post pre,
.post code,
.page pre,
.page code {
  border: 1px solid #d5d5e9;
  background-color: #eef;
  padding: 8px 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 15px;
  overflow: scroll;
}

.post code,
.page code {
  padding: 1px 5px;
}

.post ul,
.post ol { margin-left: 1.35em; }

.post pre code,
.page pre code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

/* terminal */
.post pre.terminal,
.page pre.terminal {
  border: 1px solid #000;
  background-color: #444;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.post pre.terminal code,
.page pre.terminal code {
  background-color: #444;
}

.page-inner-content > p:first-child img,
.post-content > p:first-child img {
  border-radius: 5px;
  width: 100%;
}

.page-inner-content > p:not(:first-child) img,
.post-content > p:not(:first-child) img {
  border: 1px solid #AAA;
  box-shadow: 1px 1px 1px gray;
}

.page ul,
.post ul {
  list-style-type: circle;
}

.post-comments {
  margin-top: 70px;
}

/* Syntax highlighting styles */
/* ----------------------------------------------------------*/

.highlight  { background: #ffffff; }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */

video.video,
iframe.video,
iframe.youtube,
iframe.vimeo {
  width: 800px;
  height: 450px;
}

iframe.bandcamp-embed {
  padding: 0 6%;
}

/* media queries */
/* ----------------------------------------------------------*/


@media screen and (max-width: 750px) {

  .footer-col-1 { width: 15%; }

  iframe.video,
  iframe.youtube,
  iframe.vimeo {
    width: 650px;
    height: 370px;
  }

  img {
    max-width: 100%;
  }

  iframe.bandcamp-embed {
    padding: 0 3%;
  }

}

iframe {
  width: 560px;
  height: 315px;
}

@media screen and (max-width: 600px) {

  .wrap { padding: 0 12px; }

  .post-header h1 { font-size: 36px; }
  .post-content h2 { font-size: 28px; }
  .post-content h3 { font-size: 22px; }
  .post-content h4 { font-size: 18px; }
  .post-content blockquote { padding-left: 10px; }
  .post-content ul,
  .post-content ol { padding-left: 10px; }

  .site-footer .column {
    float: none;
    clear: both;
    width: auto;
    margin: 0 0 15px; }

  .footer-col-1 { display: none; }

  iframe {
    width: auto;
    height: auto;
  }

  iframe.video,
  iframe.youtube,
  iframe.vimeo {
    width: 500px;
    height: 280px;
  }

  iframe.bandcamp-embed {
    padding: 0 2%;
  }

}

@media screen and (max-width: 500px) {
  iframe.video,
  iframe.youtube,
  iframe.vimeo {
    width: auto;
    height: auto;
  }
  iframe.bandcamp-embed {
    padding: 0 1%;
  }
}

abbr {
  border-bottom: 1px dotted black;
  cursor: help;
}

.footer-col-1 {
  text-align: center;
}

.float-right {
  display: block;
  float: right;
  margin-left: 10px;
  margin-top: 10px;
}

.float-left {
  display: block;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
}

.full-width img {
  width: 100%
}

img.photo-profile {
  float: left;
  margin-right: 15px;
  margin-top: 10px;
  margin-left: 5px;
}

table {
  border-collapse: collapse;
  empty-cells: show;
}
table td {
  border: 1px solid #818181;
  padding: 5px 10px;
}

/* styles copied from bootstrap css framework */

.alert {
  border-radius: 5px;
  border: 1px solid gray;
  padding: 10px 20px;
}
.alert-success {
  color: #3C763D;
  background-color: #DFF0D8;
  border-color: #D6E9C6;
}
.alert-info {
  color: #31708F;
  background-color: #D9EDF7;
  border-color: #BCE8F1;
}
.alert-warning {
  color: #8A6D3B;
  background-color: #FCF8E3;
  border-color: #FAEBCC;
}
.alert-danger {
  color: #A94442;
  background-color: #F2DEDE;
  border-color: #EBCCD1;
}

.livros li {
  float: left;
  display: block;
  width: 200px;
  height: 300px;
  border: 1px solid gray;
  margin: 10px;
}

.noborder {
  border: 0;
}

figure {
  text-align: center;
  background-color: black;
  padding: 2px;
  border-radius: 2px;
}

figure img {
  width: 60%;
}

figure legend {
  color: white;
  font-family: sans-serif;
  text-shadow: 0 0 1px cyan;
}

figure pre {
  text-align: left;
}

strong {
  font-weight: bold;
}

.highlight {
  font-size: 18px;
}

iframe.bioborgs-soundcloud,
iframe.soundcloud {
  width: 100%;
}

.sobre li {
  list-style: none;
}

/* menu */

.menu {
  background-color: #FAFAFA;
  text-align: center;
}

.menu ul {
  list-style: none;
}

.menu li {
  display: inline;
  padding-left: 7px;
  padding-right: 7px;
}

/* image gallery */

.image-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  grid-gap: 0;
  grid-auto-flow: dense;
}

.image-gallery-item {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}

.image-gallery-item:hover {
  transform: scale(1.05);
}

.slide-version {
  color: gray;
  font-size: 0.9em;
}

.fontawesome-caption {
  text-align: center;
  line-height: 1;
}

.fontawesome-icon {
  width: 7em;
  height: 7em;
  text-align: center;
  margin-bottom: 10px;
}

.fontawesome-icon svg {
  margin: 0 0.2em;
}

#social-networks .fontawesome-icon {
  float: left;
}

#social-networks {
  margin: 5%;
}
