---
layout: null
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
  {% include header.html %}
  {% include menu.html %}
  {% include latest_posts.html %}
  {% include footer.html %}
  </body>
</html>
