---
title: Files
layout: notitle
---

<ul class="files" style="list-style: none">
{% assign image_files = site.static_files | where: "image", true | where: "avatar", false %}
{% for img in image_files %}
  <li class="slide" style="float: left; margin: 5px">
    <a class="slide-link" href="{{ img.path | prepend: site.baseurl }}"><img width="250px" style="box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);" src="{{ img.path }}"/></a>
  </li>
{% endfor %}
</ul>
