---
layout: null
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
  {% include header.html %}
  {% include menu.html %}
  <div class="page-content">
    <div class="wrap">
      {% include signature.html %}
      <hr style="margin: 50px 10vw; border: 1px solid #EEE"/>
      <a href="/avatar">
        <img style="float:right; margin-top:15px; margin-left:10px; margin-right: 10px; border: 0; box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);" src="/avatars/joenio-2024-nocolor-150x150.jpg"/>
      </a>
      <h2>Ola, seja bem-vindo ao meu site!</h2>
      <div style="text-align: justify; margin-top: 10px">
        {% include sobre.html %}
        <p style="text-align: center; margin-top: 1em"><a href="/sobre">Clique aqui para saber mais sobre mim.</a></p>
      </div>
      <hr style="margin: 50px 10vw 30px 10vw; border: 1px solid #EEE"/>
      <h2 style="text-align: center">Redes sociais</h2>
      <p style="text-align: center; color: #555">Minhas redes sociais</p>
      {% include social-networks.html %}
      <br style="clear: left"/>
      <hr style="margin: 20px 10vw 50px 10vw; border: 1px solid #EEE"/>
      <h2 style="text-align: center">Blog</h2>
      <p style="text-align: center; color: #555">Publicacoes recentes</p>
      <ul class="posts">
        {% for page in site.posts limit:5 %}
        <li class="post" style="margin-bottom: 0">
          <header class="post-header" style="margin-bottom: 5px">
            <h1>
              <a class="post-link" href="{{ page.url | remove: '/index.html' | prepend: site.baseurl }}">{{ page.title }}</a>
            </h1>
            {% include metadata.html %}
          </header>
          <article class="post-lead">
            {{ page.lead }}
          </article>
        </li>
        {% endfor %}
      </ul>
      <p style="text-align: center"><a href="/blog">Clique aqui para ler os posts mais antigos do blog.</a></p>
      <hr style="margin: 50px 10vw; border: 1px solid #EEE"/>
    </div>
  </div>
  {% include footer.html %}
  </body>
</html>
