<p>
My name is Joenio Marques da Costa,
I'm a
PhD candidate in Computer Science at
<a href="https://www.ufba.br">Federal University of Bahia</a> (UFBA),
I'm currently working as a
<a href="/software-para-pesquisa">Research Software</a> Engineer
at
<a href="https://www.cortext.net">CorTexT Platform</a>,
I'm also a
<a href="/software-livre">Free Software</a> supporter,
<a href="/debian">Debian</a> developer,
<a href="https://carpentries.org">The Carpentries</a> instructor,
<a href="/o-arquivo-universal-de-codigo-fonte-software-heritage">Software Heritage</a> ambassador
and co-creator with <a href="https://marimoura.4two.art">Mari Moura</a> 
of the laboratory <a href="https://4two.art">4two.art</a>
on research, creation and experimentation in arts, science and technology.
</p>
