<footer class="site-footer">

  <div class="wrap">
    <div class="column footer-col-3">
      <p id="rss">
        <a type="application/rss+xml" href="{{ "/feed.xml" | prepend: site.baseurl }}">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="rss-icon-svg" id="RSSicon" viewBox="0 0 256 256">
          <defs><linearGradient x1="0.085" y1="0.085" x2="0.915" y2="0.915" id="RSSg">
          <stop offset="0.0" stop-color="#E3702D"/><stop offset="0.1071" stop-color="#EA7D31"/>
          <stop offset="0.3503" stop-color="#F69537"/><stop offset="0.5" stop-color="#FB9E3A"/>
          <stop offset="0.7016" stop-color="#EA7C31"/><stop offset="0.8866" stop-color="#DE642B"/>
          <stop offset="1.0" stop-color="#D95B29"/></linearGradient></defs>
          <rect width="256" height="256" rx="55" ry="55" x="0" y="0" fill="#CC5D15"/>
          <rect width="246" height="246" rx="50" ry="50" x="5" y="5" fill="#F49C52"/>
          <rect width="236" height="236" rx="47" ry="47" x="10" y="10" fill="url(#RSSg)"/>
          <circle cx="68" cy="189" r="24" fill="#FFF"/>
          <path d="M160 213h-34a82 82 0 0 0 -82 -82v-34a116 116 0 0 1 116 116z" fill="#FFF"/>
          <path d="M184 213A140 140 0 0 0 44 73 V 38a175 175 0 0 1 175 175z" fill="#FFF"/>
        </svg>
        <span class="rss-subscribe">RSS</span>
        </a>
      </p>
      <hr/>
    </div>
  </div>

  <div class="wrap">
    <div class="column footer-col-3">
      <p style="text-align:center">
      GNU Privacy Guard (GPG)<br/>
      <code style="font-size:0.9em">9B2D 64BF 843D 6DC1 D8C1 752C 2E31 D3FD E6D0 8FF4</code>
      <br/>
      <a href="https://keys.openpgp.org/vks/v1/by-fingerprint/9B2D64BF843D6DC1D8C1752C2E31D3FDE6D08FF4">click here to download my GPG public key</a>
      </p>
      <hr/>
    </div>
  </div>

  <div class="wrap">
    <div class="column footer-col-3">
      <ul id="links">
        <li><a class="u-url" rel="me" href="https://www.linkedin.com/in/joenio">LinkedIn</a></li>
        <li><a class="u-url" rel="me" href="https://twitter.com/joenio">Twitter</a></li>
        <li><a class="u-url" rel="me" href="https://mastodon.social/@joenio">Mastodon</a></li>
        <li><a class="u-url" rel="me" href="https://www.youtube.com/c/JoenioCosta">YouTube</a></li>
        <li><a class="u-url" rel="me" href="https://github.com/joenio">GitHub</a></li>
        <li><a class="u-url" rel="me" href="https://gitlab.com/joenio">GitLab</a></li>
      </ul>
      <hr/>
    </div>
  </div>

</footer>
