<div class="page-content latest-posts">
  <div class="wrap">
    {% include signature.html %}
    <ul class="posts">
      {% for page in site.posts %}
      <li class="post">
        <header class="post-header">
          <h1>
            <a class="post-link" href="{{ page.url | remove: '/index.html' | prepend: site.baseurl }}">{{ page.title }}</a>
          </h1>
          {% include metadata.html %}
        </header>
        <article class="post-lead">
          {{ page.lead }}
        </article>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
