<nav class="menu">
  <div class="wrap">
    <ul>
      <li><a href="/">Início</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/eventos">Eventos</a></li>
      <li><a href="/arte">Arte</a></li>
      <li><a href="/software">Software</a></li>
      <li><a href="/publicacoes">Publicações</a></li>
      <li><a href="/sobre">Sobre</a></li>
    </ul>
  </div>
</nav>
