<div class="page-content">
  <div class="wrap">
    <a style="width:3%; position:fixed; right: 10px; bottom: 10px" href="https://gitlab.com/joenio/branding" title="Joenio Marques da Costa">
      <img style="width:100%;" src="/files/jmc-signature-2023-a.png" alt="Joenio Marques da Costa" />
    </a>
    <div class="page">
      <header class="page-header">
        <h1 class='title'>{{ page.title }}</h1>
        {% if page.subtitle %}<h2 class='subtitle'>{{ page.subtitle }}</h2>{% endif %}
      </header>
      <article class="page-inner-content">
      {{ content }}
      </article>
    </div>
  </div>
</div>
