### Thanks!

<span class="url">joenio@joenio.me</span>

<br/>
_This presentation is available at:_

<span class="url">{{ page.url | prepend: site.url | remove: '/index.html' }}</span>

<small>
  <a style="color:blue" href="{{ page.url | prepend: site.url | remove: '/index.html' | append: '?print-pdf' }}">
    export presentation to pdf
  </a>
  (require chromium browser)
</small>

<small>(source-code: **[https://gitlab.com/joenio/joenio.gitlab.io](https://gitlab.com/joenio/joenio.gitlab.io)**)</small>

<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Licença Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
