<p>
Me chamo Joenio Marques da Costa,
sou
estudande de Doutorado em Ciência da Computação na
<a href="https://www.ufba.br">Universidade Federal da Bahia</a> (UFBA),
trabalho atualmente como
Engenheiro de
<a href="/software-para-pesquisa">Software para Pesquisa</a> (Research Software Engineer)
na
<a href="https://www.cortext.net">pataforma CorTexT</a>,
sou também
apoiador do <a href="/software-livre">Software Livre</a> (Free Software),
desenvolvedor <a href="/debian">Debian</a>,
instrutor <a href="https://carpentries.org">The Carpentries</a>,
embaixador do <a href="/o-arquivo-universal-de-codigo-fonte-software-heritage">Software Heritage</a> e
co-criador junto com <a href="https://marimoura.4two.art">Mari Moura</a>
do laboratório <a href="https://4two.art">4two.art</a>
de pesquisa, criação e experimentação em arte, ciência e tecnologia.
</p>
