<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
  {% include header.html %}
  {% include menu.html %}
  <div class="page-content">
    <div class="wrap">
      <div class="page">
        <header class="page-header">
          <h1>{{ page.title }}</h1>
        </header>
        <article class="page-inner-content">
          {{ content }}
          <div class ="image-gallery">
          {%- assign pagename = page.id | split: "/" | last %}
          {%- assign gallerypath = "images/" | append: pagename %}
          {%- assign sorted = site.static_files | sort: 'date' %}
          {%- for file in sorted %}
            {%- if file.path contains gallerypath %}
            {%- if file.extname == '.png' or  file.extname == '.jpg' %}
              {%- assign filename = file.path | split: "/" | last | replace: file.extname,"" %}
              {%- assign thumbnail = file.path | replace: "images", "thumbnails" %}
              <a href="{{ file.path | relative_url }}" title="{{ file.modified_time | date_to_string }} - {{ filename }}">
                <img src="{{ thumbnail }}" alt="{{ file.modified_time | date_to_string }} - {{ filename }}"  class="image-gallery-item" />
              </a>
            {%- endif %}
            {%- endif %}
          {%- endfor %}
          </div>
        </article>
      </div>
    </div>
  </div>
  {% include footer.html %}
  </body>
</html>
