<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
  {% include header.html %}
  {% include menu.html %}
<div class="page-content">
  <div class="wrap">
    <div class="page">
      <article class="page-inner-content">
      {{ content }}
      </article>
    </div>
  </div>
</div>
  {% include footer.html %}
  </body>
</html>
