<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
  {% include header.html %}
  {% include menu.html %}

  <div class="page-content">
    <div class="wrap">
      {% include signature.html %}
      <div class="post">
        <header class="post-header">
          <h1>{{ page.title }}</h1>
          {% include metadata.html %}
        </header>
        <article class="post-content">
        {{ content }}
        </article>
        {% include comments.html %}
      </div>
    </div>
  </div>

  {% include footer.html %}
  </body>
</html>
