<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
  {% include header.html %}
  {% include menu.html %}
  {% include page-content.html %}
  {% include footer.html %}
  <script>
    window.location.replace('{{ page.redirect }}');
  </script>
  </body>
</html>
